.container {
  max-width: 1440px;
  align-self: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
}

.innerContainer {
  background-color: #1a2734;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  align-content: flex-start;
  padding: 0 0 0.5rem;
}

.groupContainer {
  margin-bottom: 34px;
  width: 100%;
}

@media (min-width: 768px) {
  .innerContainer {
    max-height: 1500px;
  }

  .groupContainer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .innerContainer {
    max-height: 1080px;
  }

  .groupContainer {
    width: 33.333%;
  }
}
