.headerContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  align-self: center;
  width: 100%;
  background-color: #1a2734;
  column-gap: 0;
  padding-bottom: 1rem;
}

.innerContainer {
  box-sizing: border-box;
}

.groupContainer {
  margin-bottom: 34px;
  width: 100%;
  display: block;
  break-inside: avoid;
}

.groupContainer:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .container {
    columns: 2 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    columns: 3 auto;
  }
}
