.container {
  color: #dc1ff1;
  width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-weight: bold;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  flex: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
}

.container:nth-child(even) .innerContainer {
  background-color: #06090b;
}

.isScam {
  color: #efff04;
}

.status {
  padding-left: 0.5rem;
}

@media (min-width: 1028px) {
  .container {
    width: 33.333%;
  }
}
